    <center>
      <%= image_tag "logo3.png"%>
    </center>
    <div class="parallax">
    <!--<h1>Andy and Tracy's wedding!</h1>-->
  </div>
    <h2>A SHARK!!!</h2>
      <p>
        Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head. Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister group to the rays. However, the term "shark" has also been used for extinct members of the subclass Elasmobranchii outside the Selachimorpha, such as Cladoselache and Xenacanthus, as well as other Chondrichthyes such as the holocephalid eugenedontidans.
      </p>
      
      <p>
        Under this broader definition, the earliest known sharks date back to more than 420 million years ago.[1] Acanthodians are often referred to as "spiny sharks"; though they are not part of Chondrichthyes proper, they are a paraphyletic assemblage leading to cartilaginous fish as a whole. Since then, sharks have diversified into over 500 species. They range in size from the small dwarf lanternshark (Etmopterus perryi), a deep sea species of only 17 centimetres (6.7 in) in length, to the whale shark (Rhincodon typus), the largest fish in the world, which reaches approximately 12 metres (40 ft) in length.
      </p>

        enim posuere neque, et sagittis lacus orci quis lorem. Vestibulum et volutpat metus. Nulla facilisi. Sed ut ex quam. Phasellus id ligula consectetur, molestie mauris sit amet, tempus tellus. Morbi ultricies auctor odio sodales egestas.
        Donec ut pellentesque quam. Quisque facilisis enim eget leo euismod malesuada. Morbi commodo massa vel nulla vehicula, et tincidunt massa bibendum. Vivamus gravida elementum bibendum. Aliquam sed est luctus, ornare magna sit amet, pellentesque
        ex. Phasellus blandit bibendum blandit. Maecenas dapibus vel sem et fringilla. Nam ut ligula vel elit viverra aliquet. Aliquam vitae turpis ultrices, porttitor nunc et, suscipit odio. Pellentesque consequat mauris a tempor fringilla. Phasellus
        placerat, enim vel suscipit ultrices, lacus nisl luctus nisi, ornare congue leo neque at justo. Maecenas blandit nisl vel risus malesuada dictum eget a orci. Integer et ligula dictum, malesuada mi nec, scelerisque quam.
        </p>
        <div class="parallax2"></div>
        <h2>Food by Zeinas</h2>
        <h3>Mediterania Food of Utica Vermont</h3>
            ABOUT ZEINA'S CAFE
            ​Zeina’s Cafe is a family owned Lebanese-style Mediterranean restaurant that serves the most authentic food using only the finest ingredients. The menu offers Mediterranean favorites such as hummus and pita dip, savory lamb gyros, fresh Mediterranean chicken salad, and many other items that appeal to even the most unique pallets. In 2010, owners Albert and Layla Zeina, opened up for operation with a promise to serve the community only the best Lebanese food using cherished family recipes that have been passed down for generations. The couple visits Lebanon each year and brings back with them an array of spices and brand new ideas, giving  customers the most authentic experience possible. Zeina’s Cafe is located just down the street from the Saranac Brewery, at 607 Varick Street in Utica. The hours of operation are Wednesday from 10am-3pm and Thursday-Saturday from 10am-8pm.

            neque, et sagittis lacus orci quis lorem. Vestibulum et volutpat metus. Nulla facilisi. Sed ut ex quam. Phasellus id ligula consectetur, molestie mauris sit amet, tempus tellus. Morbi ultricies auctor odio sodales egestas. Donec ut pellentesque
            quam. Quisque facilisis enim eget leo euismod malesuada. Morbi commodo massa vel nulla vehicula, et tincidunt massa bibendum. Vivamus gravida elementum bibendum. Aliquam sed est luctus, ornare magna sit amet, pellentesque ex. Phasellus blandit
            bibendum blandit. Maecenas dapibus vel sem et fringilla. Nam ut ligula vel elit viverra aliquet. Aliquam vitae turpis ultrices, porttitor nunc et, suscipit odio. Pellentesque consequat mauris a tempor fringilla. Phasellus placerat, enim vel
            suscipit ultrices, lacus nisl luctus nisi, ornare congue leo neque at justo. Maecenas blandit nisl vel risus malesuada dictum eget a orci. Integer et ligula dictum, malesuada mi nec, scelerisque quam.</p>
        <div class="parallax3"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere fringilla tincidunt. Etiam volutpat vestibulum libero, a efficitur enim condimentum eu. Phasellus commodo vel purus eu congue. Mauris venenatis sem lectus, eget vestibulum
            ante maximus a. Ut ac magna elit. Maecenas eu augue purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis, tellus quis convallis aliquam, dolor lacus varius erat, eu commodo ex est maximus nunc. Sed libero
            sapien, porta ut blandit a, fringilla lacinia urna. Donec id commodo mi. Integer id molestie libero, eget rutrum nunc. Quisque nec massa semper, fringilla est sed, blandit nisi. Fusce nisl nisl, imperdiet in dictum at, mollis sit amet risus.
            Sed ut scelerisque ligula. Sed auctor nulla nec viverra egestas. Morbi rutrum turpis a iaculis pellentesque. Duis ornare venenatis tempor. Nam ut ex in felis tempus mattis quis in justo. Donec euismod lacus arcu, a mollis ante euismod in.
            Vivamus ultricies leo quis lorem auctor, et hendrerit ex malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget felis augue. Proin dapibus erat id viverra facilisis. In molestie, tortor
            vel hendrerit molestie, velit nunc porttitor ipsum, id dignissim lectus lectus sit amet ex. Sed commodo lorem at dui ultricies commodo. Proin nec molestie tortor. Quisque fringilla, lacus et luctus volutpat, quam sapien rutrum nunc, sit amet
            cursus dolor nibh ac urna. Cras ac est metus. Praesent lacinia dui sit amet velit ornare convallis. Etiam sed pulvinar sapien. Mauris at ligula id nunc consectetur congue. Phasellus blandit bibendum blandit. Maecenas dapibus vel sem et fringilla.
            Nam ut ligula vel elit viverra aliquet. Aliquam vitae turpis ultrices, porttitor nunc et, suscipit odio. Pellentesque consequat mauris a tempor fringilla. Phasellus placerat, enim vel suscipit ultrices, lacus nisl luctus nisi, ornare congue
            leo neque at justo. Maecenas blandit nisl vel risus malesuada dictum eget a orci. Integer et ligula dictum, malesuada mi nec, scelerisque quam.</p>
        <div class="parallax4"></div>
  <%= link_to('Sign up now!', signup_path, class: '.home-content h2') %>