<div class="container: contain">
  <div class="jumbotron">
  <center><h1>Andy and Tracy's weedding!</h1></center>
  </div>
</div>
<div class="container: contain">
  <div class="parallax"></div>
    <h1>Code Snippets</h1>
    <p>Inline snippets of code should be embedded in the code element:</p>
    <p>The following HTML elements: <code>span</code>, <code>section</code>, and <code>div</code> defines a section in a document.</p>

      <blockquote class="blockquote">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere fringilla tincidunt. Etiam volutpat vestibulum libero, a efficitur enim condimentum eu. Phasellus commodo vel purus eu congue. Mauris venenatis sem lectus, eget vestibulum ante maximus a. Ut ac magna elit. Maecenas eu augue purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

            Integer convallis, tellus quis convallis aliquam, dolor lacus varius erat, eu commodo ex est maximus nunc. Sed libero sapien, porta ut blandit a, fringilla lacinia urna. Donec id commodo mi. Integer id molestie libero, eget rutrum nunc. Quisque nec massa semper, fringilla est sed, blandit nisi. Fusce nisl nisl, imperdiet in dictum at, mollis sit amet risus. Sed ut scelerisque ligula. Sed auctor nulla nec viverra egestas. Morbi rutrum turpis a iaculis pellentesque. Duis ornare venenatis tempor. Nam ut ex in felis tempus mattis quis in justo. Donec euismod lacus arcu, a mollis ante euismod in.
            
            Vivamus ultricies leo quis lorem auctor, et hendrerit ex malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget felis augue. Proin dapibus erat id viverra facilisis. In molestie, tortor vel hendrerit molestie, velit nunc porttitor ipsum, id dignissim lectus lectus sit amet ex. Sed commodo lorem at dui ultricies commodo. Proin nec molestie tortor. Quisque fringilla, lacus et luctus volutpat, quam sapien rutrum nunc, sit amet cursus dolor nibh ac urna. Cras ac est metus. Praesent lacinia dui sit amet velit ornare convallis. Etiam sed pulvinar sapien. Mauris at ligula id nunc consectetur congue.
            
            Vivamus ultrices, justo in sollicitudin tempor, risus enim posuere neque, et sagittis lacus orci quis lorem. Vestibulum et volutpat metus. Nulla facilisi. Sed ut ex quam. Phasellus id ligula consectetur, molestie mauris sit amet, tempus tellus. Morbi ultricies auctor odio sodales egestas. Donec ut pellentesque quam. Quisque facilisis enim eget leo euismod malesuada. Morbi commodo massa vel nulla vehicula, et tincidunt massa bibendum. Vivamus gravida elementum bibendum. Aliquam sed est luctus, ornare magna sit amet, pellentesque ex.
            
            Phasellus blandit bibendum blandit. Maecenas dapibus vel sem et fringilla. Nam ut ligula vel elit viverra aliquet. Aliquam vitae turpis ultrices, porttitor nunc et, suscipit odio. Pellentesque consequat mauris a tempor fringilla. Phasellus placerat, enim vel suscipit ultrices, lacus nisl luctus nisi, ornare congue leo neque at justo. Maecenas blandit nisl vel risus malesuada dictum eget a orci. Integer et ligula dictum, malesuada mi nec, scelerisque quam.</p>

    <footer class="blockquote-footer">Andrew Metell</footer>
          </blockquote>
    </div>
  <h1>We welcome you to join Tracy's & Andy's wedding!!</h1>
  <h2>
    This is out home page!! '<'3
  </h2>
  <%= link_to('Sign up now!', signup_path, class: '.home-content h1') %>
</div>
